## Lists

Lists in Python are the most used data type.

A List is an ordered sequence of similar or dissimilar objects.

Lists are mutable.

In [2]:
# declaring a list

pc_parts = ['monitor', 'keyboard', 'cpu', 'mouse', 'ram', 'storage']
pc_parts

['monitor', 'keyboard', 'cpu', 'mouse', 'ram', 'storage']

In [3]:
# length of a list (no of objects in the list)

len(pc_parts)

6

In [14]:
print(employee[3])
employee[3][1]
print(len(employee[3]))

['Python', 'JavaScript', 'Java']
3

In [4]:
# nested lists

employee = ['Mason', 34, 23000, ['Python', 'JavaScript', 'Java']]
employee

['Mason', 34, 23000, ['Python', 'JavaScript', 'Java']]

## Indexing and Slicing

List indexing and slicing are similar to that of string instead each index here are objects

In [5]:
# get the first object from list 

pc_parts[0]

'monitor'

In [6]:
# get the last object (negative indexing are also supported)

pc_parts[-1]

'storage'

In [7]:
pc_parts[5:8]

['storage']

In [8]:
pc_parts[2:5]

['cpu', 'mouse', 'ram']

In [9]:
pc_parts[:] # pc_parts

['monitor', 'keyboard', 'cpu', 'mouse', 'ram', 'storage']

In [10]:
pc_parts[2:]

['cpu', 'mouse', 'ram', 'storage']

In [11]:
pc_parts[:4]

['monitor', 'keyboard', 'cpu', 'mouse']

In [12]:
pc_parts[-4:-1]

['cpu', 'mouse', 'ram']

## List Methods

In [15]:
pc_parts

['monitor', 'keyboard', 'cpu', 'mouse', 'ram', 'storage']

In [16]:
# append --> add an object to the end of the list

pc_parts.append('cabinet')
pc_parts

['monitor', 'keyboard', 'cpu', 'mouse', 'ram', 'storage', 'cabinet']

In [17]:
# insert --> add an object at a particular index

pc_parts.insert(3, 'cooler')
pc_parts

['monitor', 'keyboard', 'cpu', 'cooler', 'mouse', 'ram', 'storage', 'cabinet']

In [18]:
pc_parts.insert(20, 'gpu')
pc_parts

['monitor',
 'keyboard',
 'cpu',
 'cooler',
 'mouse',
 'ram',
 'storage',
 'cabinet',
 'gpu']

In [26]:
# extend --> combines two lists into one list

basket = ['Apple', 'Orange', 'Grapes']
veggies = ['Tomato', 'Potato', 'Onion']
basket.extend(veggies)
basket

['Apple', 'Orange', 'Grapes', 'Tomato', 'Potato', 'Onion']

In [22]:
# remove --> remove a particular item from the list

basket.remove('Orange')
basket

['Apple', 'Grapes', 'Tomato', 'Potato', 'Onion']

In [23]:
basket.remove('Orange')

ValueError: list.remove(x): x not in list

In [27]:
# pop --> remove the object by index and return it

popped_item = basket.pop(4)

popped_item

'Potato'

In [28]:
basket

['Apple', 'Orange', 'Grapes', 'Tomato', 'Onion']

In [29]:
basket.pop(10)

IndexError: pop index out of range

In [30]:
# reverse --> reverses the list objects

basket.reverse()
basket

['Onion', 'Tomato', 'Grapes', 'Orange', 'Apple']

In [31]:
# sort --> sorts the list objects

num = [5, 3, 4, 1, 2]
num.sort()
num

[1, 2, 3, 4, 5]

In [32]:
# sorting in descending order

num.sort(reverse=True)
num

[5, 4, 3, 2, 1]

In [33]:
# sorting list without altering the original list

sorted(num)

[1, 2, 3, 4, 5]

In [34]:
num

[5, 4, 3, 2, 1]

In [36]:
num = [5, 3, 4, 1, 2]
sorted(num, reverse=True)

[5, 4, 3, 2, 1]

In [37]:
num

[5, 3, 4, 1, 2]

In [38]:
# min ---> returns the min value in the list

min(num)

1

In [39]:
# max --> returns the maximum value in the list

max(num)

5

In [40]:
# sum --> returns the sum of all the values in the list

sum(num)

15

In [42]:
# index --> returns the index of the search element

print(num)
num.index(1)

[5, 3, 4, 1, 2]

3

In [43]:
num.index(9)

ValueError: 9 is not in list

In [44]:
# in --> checks for membership, whether the value is present in list

5 in num

True

In [46]:
9 not in num

True

In [47]:
# enumerate --> returns index and value of the iterable

for index, value in enumerate(basket):
    print(index, value)

0 Onion
1 Tomato
2 Grapes
3 Orange
4 Apple

In [48]:
for index, value in enumerate(basket, start=1):
    print(index, value)

1 Onion
2 Tomato
3 Grapes
4 Orange
5 Apple

In [51]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [56]:
names = ['James', 'james', 'Gabriel', 13]

In [57]:
names.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [54]:
nams

NameError: name 'nams' is not defined

In [58]:
names

['Gabriel', 'James', 'james', 13]

In [59]:
names[0], names[-1] = names[-1], names[0]

In [60]:
names

[13, 'James', 'james', 'Gabriel']